.contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & .email {
        display: flex;
        gap: 1rem;

        a {
            color: var(--dodger-blue-50);
            font-weight: bold;
            font-size: 20px;
            text-decoration: none;
            transition: all 0.3s ease;

            &:hover {
                color: var(--dodger-blue-400)
            }
        }
    }

    & .social {
        display: flex;
        gap: 2rem;

        & img {
            display: block;
            width: 40px;
            height: 40px;
        }
    }
}